
h1 {
    text-align: center;
    }
.nav {
    align-items: center;
    
    
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border: solid;
    width: 40rem;
    background-color: rgb(40, 35, 35);
    margin: 0;
    padding: 0;
       
  }

  .nav a {
      padding: 5px;
    color: white;
    text-decoration: none;
    
  }
  .nav a:hover {
    background-color: brown;
    
  }


