
form{
    border-style: outset;
    height: 300px;
    width: 300px;
    border-color: silver;
    background-color: rgb(260, 229, 187);
}
h1 {
    color: white;
    background-color:rgb(240, 27, 19) ;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}
.a{
    display: block;
    margin: 10px;
    border-style: hidden;
    width: 275px;
    height: 30px;
}

#submit{
    background-color: rgb(280, 217, 73);
    margin: 10px;
    text-align: center;
    width: 275px;
    height: 30px;
    
}